<div class="wrapper">
  <div class="section-a">
    <div class="artist-menu">
      <div class="artist-menu-item artist-menu-item-1">
        <button>
          Stunde
        </button>
      </div>
      <div class="artist-menu-item artist-menu-item-2">
        <button>
          Tag
        </button>
      </div>
      <div class="artist-menu-item artist-menu-item-3">
        <button>
          Woche
        </button>
      </div>
      <div class="artist-menu-item artist-menu-item-4">
        <button>
          Monat
        </button>
      </div>
      <div class="artist-menu-item artist-menu-item-5">
        <button>
          Allzeit
        </button>
      </div>
    </div>
    <div class="artist-something">
      Find the newest and greatest DJ's right in this corner! Be sure to check 'em out if you like them!
    </div>
  </div>
  <div class="section-b">

  </div>
  <div class="section-c">
      <input type="text" placeholder="Artist, Mixtape or Location..">
      <button>
        Search
      </button>
  </div>
</div>