<div class="wrapper">
  <div class="item heading">
    <h2>Charts</h2>
  </div>
  <div class="item">
    <div class="text">
      <h4>{{artistName}}</h4>
      <p>{{releaseDate}}</p>
      <p>{{songName}}</p> 
      
    </div>
    <div class="pic">
      <img src="https://images-na.ssl-images-amazon.com/images/I/613wBEVKZYL._SX355_.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">
        <h4>{{artistName}}</h4>
        <p>{{releaseDate}}</p>
        <p>{{songName}}</p> 
    </div>
    <div class="pic">
      <img src="https://www.swr.de/-/id=14467836/property=gallery/pubVersion=2/width=648/15yv04s/Cover%20von%20%22Dark%20Side%20of%20The%20Moon%22%20Pink%20Floyd.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">
        <h4>{{artistName}}</h4>
        <p>{{releaseDate}}</p>
        <p>{{songName}}</p> 
    </div>
    <div class="pic">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Led_Zeppelin_-_Physical_Graffiti.jpg/220px-Led_Zeppelin_-_Physical_Graffiti.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">
        <h4>{{artistName}}</h4>
        <p>{{releaseDate}}</p>
        <p>{{songName}}</p> 
    </div>
    <div class="pic">
      <img src="https://lastfm-img2.akamaized.net/i/u/770x0/d5b5e314af7c4124943582fe3a595543.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">
        <h4>{{artistName}}</h4>
        <p>{{releaseDate}}</p>
        <p>{{songName}}</p> 
    </div>
    <div class="pic">
      <img src="https://caching-production.jetzt.de/attachments/861159379671709247-kanye-cover.full.png" alt="">
    </div>
  </div>
</div>