@import "definitions";

body {
    background: $background;
    margin: 0;
    padding: 0;
}

.component-wrapper {
    //margin: 15px !important;
}

.wrapper {
    margin-top: 45px;
    //margin-left: 20px;
    
}

