<!-- 
<app-profile-preview></app-profile-preview>

<app-charts-preview></app-charts-preview>

<app-player-preview></app-player-preview>

<app-menu></app-menu>

<app-new-artists></app-new-artists>
-->
<div class="wrapper">
    <div class="left-inner-wrapper">
        <div class="component-wrapper menu">
                <app-menu></app-menu>
        </div>
        <div class="component-wrapper following">

        </div>
        <div class="component-wrapper footer">
            
        </div>
    </div>
    <div class="right-inner-wrapper">
        <div class="component-wrapper player">
                <app-player-preview></app-player-preview>
        </div>
        <div class="component-wrapper profile">
                <app-profile-preview></app-profile-preview>
        </div>
        <div class="component-wrapper charts">
                <app-charts-preview></app-charts-preview>
        </div>
        <div class="component-wrapper new-artists">
            <app-new-artists></app-new-artists>
        </div>
    </div>
</div>