<div class="wrapper">
  <div class="img-wrapper">
    <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=face-facial-hair-fine-looking-614810.jpg&fm=jpg" alt="">
  </div>
  <div class="profile-info">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="something">
    <p>incidunt dolorem nobis quam tenetur accusamus, exercitationem esse cumque itaque laboriosam assumenda earum. Corrupti, porro quo?</p>
  </div>
  <div class="button-area">
    <a href="#" class="button" id="edit">Edit</a>
    <a href="#" class="button" id="visit">Visit</a>
  </div>
</div>